{% extends "base-float.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block add-bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Смена пароля</h1>
                            </div>
                            <form class="user" method="POST">
                                {{ form.hidden_tag() }}
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category,message in messages %}
                                            <div class="alert alert-{{category}}">
                                                {{message}}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <div class="form-group">
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-user is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control form-control-user") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if form.confirm_password.errors %}
                                        {{ form.confirm_password(class="form-control form-control-user is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.confirm_password(class="form-control form-control-user") }}
                                    {% endif %}
                                </div>
                                {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}